/* Start of CMSMS style sheet 'g4ilo_hlp' */
body {
	margin-top:0px;
	margin-bottom:12px;
	color:#404040;
	background-color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#main {
	width:885px;
	text-align:center;
	margin:0 auto;
	font-size:80%;
	line-height:130%;
	background-color:#FFFFFF;
}

#content_wrapper {
	width:900px;
}

/* main content area */
#content {
	padding:8px 0 16px 0;
	margin:0;
	line-height:140%;
	background-color:#FFFFFF;
	text-align:left;
	float:right;
	width:680px;
}
#content p, pre {
	padding:0;
	margin:8px 8px 0 8px;
}
#content form {
	padding:0;
	margin:8px 8px 0 8px;
}
/* relational links under content */
div.left49 {
  width: 49%; /* 50% for both left and right might lead to rounding error on some browser */
}

div.right49 {
  float: right;
  width: 49%;
  text-align: right;
}
/* left navigation area */
#content_left {
	float:left;
	width:200px;
	padding:8px 0 0 8px;
	line-height:135%;
	text-align:left;
	font-size:100%;
	background-color:#FFFFFF;
}
#content_left ul { /* starts left navigation */
	margin:0 4px 0 0;
	padding:0 0 0 8px;
	text-align:left;
}
#content_left ul ul {
	font-size:90%;
}
#content_left ul.clearfix {
margin:8px;
}
#content_left li { /* navigation list item */
	display:block;
	list-style:none;
	width:100%;
	margin:0;
	padding:0;
}
#content_left a.currentpage { /* navigation list item */
	font-weight:bold;
}
#content_left a, #content_left a:visited { /* mouse out navigation anchor link styles */
	display:block;
	width:100%;
	margin:0px;
	padding:0px;
	text-decoration:none;
	color:#404040;
}
#content_left a:hover, #content_left a:visited:hover { /* mouse over navigation anchor link styles */
	display:block;
	width:100%;
	margin:0px;
	padding:0px;
	color:#2a56d6;
	text-decoration:underline;
}
/* header tags */
h1 {
	font-size:130%;
	display:block;
	width:96%;
	background-color:#F0F0F0;
	margin:8px 0 0 0;
	padding:4px 0 4px 8px;
}
h2 {
	font-size:120%;
	display:block;
	width:96%;
	background-color:#F0F0F0;
	margin: 8px 0 0 0;
	padding:4px 0 4px 8px;
}
h3 {
	font-size:115%;
	margin: 8px 0 0 0;
	padding:4px 0 4px 8px;
}
h4 {
	font-size:105%;
	margin: 8px 0 0 0;
	padding:4px 0 4px 8px;
}
img {
	padding: 8px;
}
/* anchor links */
a, a:visited {
	text-decoration:none;
	color:#2a56d6;
}
a:hover, a:visited:hover {
	color:#2a56d6;
	text-decoration:underline;
}

/* End of 'g4ilo_hlp' */

